In [6]:
import pandas as pd
import seaborn as sn

In [7]:
headers = ['pregnant', 'plasma_glucose', 'blood_pressure', 'skin_fold', 'serum_insulin', 'bmi', 'pedigree', 'age','class']

In [8]:
file = pd.read_csv('pima-indians-diabetes.data.csv', names = 'headers')

In [9]:
display(file.head())

        h   e    a     d    e.1   r  s
6 148  72  35    0  33.6  0.627  50  1
1 85   66  29    0  26.6  0.351  31  0
8 183  64   0    0  23.3  0.672  32  1
1 89   66  23   94  28.1  0.167  21  0
0 137  40  35  168  43.1  2.288  33  1

In [10]:
file.describe()

,h,e,a,d,e.1,r,s
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
display(file.groupby('s').mean())

           h          e           a          d       e.1          r
s
0  68.184000  19.664000   68.792000  30.304200  0.429734  31.190000
1  70.824627  22.164179  100.335821  35.142537  0.550500  37.067164

In [14]:
display(file.groupby('s').std())

           h          e           a         d       e.1          r
s
0  18.063075  14.889947   98.865289  7.689855  0.299085  11.667655
1  21.491812  17.679711  138.689125  7.262967  0.372354  10.968254

In [17]:
correlation = file.corr()
print(correlation)

            h         e         a         d       e.1         r         s
h    1.000000  0.207371  0.088933  0.281805  0.041265  0.239528  0.065068
e    0.207371  1.000000  0.436783  0.392573  0.183928 -0.113970  0.074752
a    0.088933  0.436783  1.000000  0.197859  0.185071 -0.042163  0.130548
d    0.281805  0.392573  0.197859  1.000000  0.140647  0.036242  0.292695
e.1  0.041265  0.183928  0.185071  0.140647  1.000000  0.033561  0.173844
r    0.239528 -0.113970 -0.042163  0.036242  0.033561  1.000000  0.238356
s    0.065068  0.074752  0.130548  0.292695  0.173844  0.238356  1.000000

In [22]:
display(sn.heatmap(correlation, cmap=sn.cubehelix_palette(as_cmap=True), annot=True))

In [23]:
sn.heatmap(correlation, cmap=sn.cubehelix_palette(as_cmap=True), annot=True)

In [24]:
file.skew()

h     -1.843608
e      0.109372
a      2.272251
d     -0.428982
e.1    1.919911
r      1.129597
s      0.635017
dtype: float64

In [25]:
#lets take large no.'s

In [26]:
sn.distplot(file.a)

/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_base.py:3193: UserWarning: Attempting to set identical bottom==top results
in singular transformations; automatically expanding.
bottom=0, top=0.0
  'bottom=%s, top=%s') % (bottom, top))

In [27]:
sn.distplot(file.h)

In [31]:
sn.distplot(file[['h']])

In [35]:
sn.pairplot(file[['pregnant', 'plasma_glucose', 'blood_pressure', 'skin_fold', 'serum_insulin', 'bmi', 'pedigree', 'age','class']], hue='class')

KeyError: "['pregnant' 'plasma_glucose' 'blood_pressure' 'skin_fold' 'serum_insulin'\n 'bmi' 'pedigree' 'age' 'class'] not in index"